@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

input{
  padding: 10px; 
   margin: 10px 0;
}

textarea{
   padding: 10px;
   margin: 14px 0;
}
.faq-padding{
  padding: 12px;
  background: white
}


  .cta { 
      margin: 14px 14px;
      padding: 20px 14px ;
    }
    .h-i-w{ 
        padding: 10px 
    }

    .about , .why-us{ 
        padding: 20px 
    }

@media (min-width: 992px) {
  input{
     width: 400px;
  }
  .hero-section{
    padding: 190px;
  }
    .cta { 
      margin: 60px 80px;
      padding: 40px ;
    }
    .h-i-w{ 
        padding: 20px 70px 
    }
     .about , .why-us { 
        padding: 60px 
    }
}

